// Parameter defaults
params {
    inputFastq          = null
    referenceFasta      = null
    readType            = null
    outputPrefix        = "MTB_consensus"
    outputDir           = "./results"
}

// Conda configuration
conda {
    enabled = true
    useMamba = false 
    cacheDir = './conda-cache'
}

// Process configuration
process {
    conda = "$projectDir/environment.yml"
    
    withName: ALIGN {
        cpus = 8
        memory = 16.GB
    }
    
    withName: 'CALL_VARIANTS_LONG|CALL_VARIANTS_SHORT' {
        cpus = 8
        memory = 8.GB
    }
    
    withName: GENERATE_CONSENSUS {
        cpus = 2
        memory = 4.GB
    }
}